/1505.00468v7.pdf
/1612.06890v1.pdf
/2312.06681v4.pdf
/CAA_org
/CAA_VQA_DS.ipynb
/clevr_caa_extract_train.jsonl
/clevr_caa_extract_train10.jsonl
/clevr_caa_extract_train100.jsonl
/clevr_caa_extract_train1k.jsonl
/clevr_caa_extract_val.jsonl
/clevr_caa_extract_val10.jsonl
/clevr_caa_extract_val100.jsonl
/clevr_caa_extract_val1k.jsonl
/clevr_overcount_plus1_layer0100.pt
/clevr_overcount_plus1_layer1100.pt
/clevr_overcount_plus1_layer14100.pt
/clevr_overcount_plus1_layer15.pt
/clevr_overcount_plus1_layer15100.pt
/clevr_overcount_plus1_layer2100.pt
/CLEVR_test_000000.png
/CLEVR_train_000000.png
/CLEVR_v1.0_no_images.zip
/CLEVR_val_questions.json
/nope